body {
    margin: 0;
    padding: 0;
    background-color: lavender;
}
.desafio-parte-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px double black;
    img {
        margin: 1rem;
        width: 600px;
        padding: 2px;
        border: 2px solid lavender;
    }
}
.desafio-parte-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-bottom: 2px double black;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .sticker {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input {
            text-align: center;
        }
    }
    img {
        width: 200px;
    }
    button {
        margin-bottom: 1rem;
    }
}

.desafio-parte-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ventana-pass {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        padding: 0 20px 0 20px;
        margin-bottom: 1rem;
    }
    .selectors {
        margin-bottom: 2rem;
    }
}